body {
  background-color: #1a091a;
  color: #f5ddf5;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #84ddff;
  transition: color 0.3s ease-in-out;
}
