html, body {
  font-size: 100%;
}

html {
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 1.25rlh;
  background-image: repeating-linear-gradient(
    rgba(255, 255, 255, 0.1) 0 0.5px,
    transparent 0.5px 0.5rlh
  );
}

h1, h2, h3, h4, h5 {
  margin: 0.5rlh 0;
}

h1 {
  font-size: 2rlh;
  line-height: 2.5rlh;
}

h2 {
  font-size: 1.5rlh;
  line-height: 2rlh;
}

h3 {
  font-size: 1.25rlh;
  line-height: 1.5rlh;
}

h4 {
  font-size: 1rlh;
  line-height: 1.5rlh;
}

h5 {
  color: red;
}

h6 {
  color: red;
}

p, ul, ol {
  margin: 0.5rlh 0;
}

p,
li,
dd,
dt {
  font-size: 1rem;
  line-height: 1.5rem;
}

.avatar > img {
  float: left;
  width: 3rlh;
  height: 3rlh;
  border-radius: 3rem;
  margin-right: 16px; /* Get it to 256x144, in 24px vertical rhythm */
}

.meta {
  font-size: 0.875rem;
}
