@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/varelaround-regular-webfont.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Varela Round", Arial, sans-serif;
}


dt {
  font-weight: bold;
}

code {
  font-size: 0.875rlh;
  background: #cf2f9728;
  border-radius: 4px;
  padding: 0 0.125rlh;
}

pre > code {
  font-size: inherit;
  background: none;
  padding: 0;
}

pre {
  font-size: 0.875rlh;
  background: #cf2f9728;
  padding: 0 0.5rlh;
  border-radius: 4px;
}
