@use "colors";

@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/varelaround-regular-webfont.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Varela Round", Arial, sans-serif;
}


dt {
  font-weight: bold;
}

code {
  font-size: 0.875rlh;
  background: #cf2f9728;
  border-radius: 4px;
  padding: 0 0.125rlh;
}

pre {
  margin: 1rlh 0;
  font-size: 0.875rlh;
  background: var(--color-panel-background);
  padding: 0.5rlh;
  border-radius: 4px;

  &.dweet {
    white-space: pre-wrap;
  }

  & > code {
    display: block;
    font-size: inherit;
    background: none;
    padding: 0;
    padding-bottom: 0.5rlh;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0.5rlh;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-background);
      border-radius: 0.25rlh;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-panel-scrollbar-thumb);
      border-radius: 0.25rlh;
      cursor: grab;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-panel-scrollbar-thumb-hover);
    }

    &::-webkit-scrollbar-thumb:active {
      background: var(--color-panel-scrollbar-thumb-active);
      cursor: grabbing;
    }

    > span.add {
      // color: #00ff00;
    }

    > span.remove {
      // opacity: 0.75;
      // text-decoration: underline;
      box-sizing: border-box;
      border-bottom: 3px dotted rgb(255, 55, 0);
    }
  }

  & > .length {
    position: absolute;
    bottom: -0.5rlh;
    font-size: 0.625rlh;
    right: 0.25rlh;

    &.too-long > span {
      color: #ff6600;
    }
  }

  &.no-length > .length {
    display: none;
  }
}

pre:has(.language-html), pre:has(.language-js), pre:has(.language-css) {
  position: relative;
  display: block;

  &:before {
    position: absolute;
    top: -0.5rlh;
    font-size: 0.625rlh;
    right: 0.25rlh;
    opacity: 0.5;
  }
}

pre:has(.language-html):before { content: 'HTML'; }
pre:has(.language-js):before { content: 'JS'; }
pre:has(.language-css):before { content: 'CSS'; }
