<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="{{ type | default: 'website' }}" />
    {% if image %}
    <meta
      property="og:image"
      content="{{ baseUrl }}{{ page.url }}{{ image }}"
    />
    {% endif %}
    <meta property="og:locale" content="en_CA" />
    <meta property="og:site_name" content="ates.dev" />
    <title>ates.dev &middot; {{ title }}</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/assets/js/prog.js?bust=1"></script>
  </head>
  <body>
    <header>
      <h1><a href="/">ates.dev</a></h1>
    </header>

    <main>{{ content }}</main>

    <footer>
      <hr />
      <p class="footer meta">
        &copy; Ateş Göral &middot; A GitHub Pages site running on Eleventy:
        <a href="https://github.com/atesgoral/ates.dev"
          >github.com/atesgoral/ates.dev</a
        >
      </p>
    </footer>
  </body>
</html>
