<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="{{ type | default: 'website' }}" />
    {% if image %}
    <meta
      property="og:image"
      content="{{ baseUrl }}{{ page.url }}{{ image }}"
    />
    {% endif %}
    <meta property="og:locale" content="en_CA" />
    <meta property="og:site_name" content="ates.dev" />
    <title>ates.dev &middot; {{ title }}</title>
    <link
      rel="icon"
      type="image/png"
      href="/assets/icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="ates.dev" />
    <link rel="manifest" href="/assets/icons/site.webmanifest" />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/assets/js/prog.js?bust=1"></script>
  </head>
  <body>
    <header>
      <h1>{% if page.url == '/' %}ates.dev{% else %}<a href="/">ates.dev</a>{% endif %}</h1>
      <nav>
        <ul>
          <li>{% if page.url == '/' %}Home{% else %}<a href="/">Home</a>{% endif %}</li>
          <li>{% if page.url == '/pages/all-posts/' %}Posts{% else %}<a href="/pages/all-posts">Posts</a>{% endif %}</li>
          <li>{% if page.url == '/pages/all-pages/' %}Pages{% else %}<a href="/pages/all-pages">Pages</a>{% endif %}</li>
          <li>{% if page.url == '/pages/about/' %}About{% else %}<a href="/pages/about">About</a>{% endif %}</li>
          <li class="break"></li>
          <li><a href="https://bsky.app/profile/ates.dev" class="bluesky logo">Bluesky</a></li>
          <li><a href="https://github.com/atesgoral" class="github logo">GitHub</a></li>
        </ul>
      </nav>
    </header>

    <main>{{ content }}</main>

    <footer>
      <hr />
      <p class="footer meta">
        &copy; Ateş Göral
        &middot; <a href="https://github.com/atesgoral/ates.dev">src</a>
        &middot; <a href="https://www.11ty.dev/">11ty</a>
      </p>
    </footer>
  </body>
</html>
