#theme-toggle-label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #84ddff;
  color: transparent;
  user-select: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.1);
  text-indent: -9999px;
}
@media (hover: hover) {
  #theme-toggle-label:hover {
    box-shadow: 0 0 10px 2px rgba(255, 164, 132, 0.5);
  }
}
#theme-toggle-label:has(#theme-toggle:checked) {
  background-color: black;
}
#theme-toggle-label > #theme-toggle {
  position: absolute;
  margin: 0;
  top: -2rem;
  left: 0;
  cursor: pointer;
}
#theme-toggle-label > #theme-toggle:before {
  position: absolute;
  top: 2rem;
  left: 0;
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background: white;
  box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.1);
  box-sizing: border-box;
  border: 3px solid #84ddff;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#theme-toggle-label > #theme-toggle:after {
  position: absolute;
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 3px solid #84ddff;
  background-color: #84ddff;
  top: 2.25rem;
  left: 0;
  transform: translateX(1.5rem);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#theme-toggle-label > #theme-toggle:checked:before {
  transform: translateX(1rem);
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.1);
  border-color: black;
}
#theme-toggle-label > #theme-toggle:checked:after {
  background-color: black;
  border-color: black;
}