@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/varelaround-regular-webfont.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Varela Round", Arial, sans-serif;
}

dt {
  font-weight: bold;
}

code {
  font-size: 0.875rlh;
  background: rgba(207, 47, 151, 0.1568627451);
  border-radius: 4px;
  padding: 0 0.125rlh;
}

pre {
  margin: 1rlh 0;
}

pre > code {
  font-size: inherit;
  background: none;
  padding: 0;
}

pre {
  font-size: 0.875rlh;
  background: rgba(207, 47, 151, 0.1568627451);
  padding: 0.5rlh;
  border-radius: 4px;
}

code.language-html, code.language-js, code.language-css {
  position: relative;
  display: block;
}
code.language-html:before, code.language-js:before, code.language-css:before {
  position: absolute;
  top: -1rlh;
  font-size: 0.625rlh;
  right: -0.25rlh;
  opacity: 0.5;
}

code.language-html:before {
  content: "HTML";
}

code.language-js:before {
  content: "JS";
}

code.language-css:before {
  content: "CSS";
}