:root {
  --color-background: #1a091a;
  --color-text: #f5ddf5;
  --color-heading: #84ddff;
  --color-link: #8356ff;
  --color-link-visited: #652dff;
  --color-link-hover: #ffa484;
  --color-link-active: #ff652d;
  --color-panel-background: #cf2f9728;
  --color-panel-scrollbar-thumb: #cf2f9750;
  --color-panel-scrollbar-thumb-hover: #cf2f97a0;
  --color-panel-scrollbar-thumb-active: #cf2f97ff;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  transition: color 0.3s ease-in-out;
}

@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/varelaround-regular-webfont.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Varela Round", Arial, sans-serif;
}

dt {
  font-weight: bold;
}

code {
  font-size: 0.875rlh;
  background: rgba(207, 47, 151, 0.1568627451);
  border-radius: 4px;
  padding: 0 0.125rlh;
}

math {
  font-size: 0.75rlh;
  background: rgba(47, 127, 207, 0.1568627451);
  border-radius: 4px;
  padding: 0.125rlh;
}

pre {
  margin: 1rlh 0;
  font-size: 0.875rlh;
  background: var(--color-panel-background);
  padding: 0.5rlh;
  border-radius: 4px;
}
pre.dweet {
  white-space: pre-wrap;
}
pre > code {
  display: block;
  font-size: inherit;
  background: none;
  padding: 0;
  padding-bottom: 0.5rlh;
  overflow-x: auto;
}
pre > code::-webkit-scrollbar {
  height: 0.5rlh;
}
pre > code::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 0.25rlh;
}
pre > code::-webkit-scrollbar-thumb {
  background: var(--color-panel-scrollbar-thumb);
  border-radius: 0.25rlh;
  cursor: grab;
}
pre > code::-webkit-scrollbar-thumb:hover {
  background: var(--color-panel-scrollbar-thumb-hover);
}
pre > code::-webkit-scrollbar-thumb:active {
  background: var(--color-panel-scrollbar-thumb-active);
  cursor: grabbing;
}
pre > code > span.remove {
  box-sizing: border-box;
  border-bottom: 3px dotted rgb(255, 55, 0);
}
pre > .length {
  position: absolute;
  bottom: -0.5rlh;
  font-size: 0.625rlh;
  right: 0.25rlh;
}
pre > .length.too-long > span {
  color: #ff6600;
}
pre.no-length > .length {
  display: none;
}

pre:has(.language-html), pre:has(.language-js), pre:has(.language-css) {
  position: relative;
  display: block;
}
pre:has(.language-html):before, pre:has(.language-js):before, pre:has(.language-css):before {
  position: absolute;
  top: -0.5rlh;
  font-size: 0.625rlh;
  right: 0.25rlh;
  opacity: 0.5;
}

pre:has(.language-html):before {
  content: "HTML";
}

pre:has(.language-js):before {
  content: "JS";
}

pre:has(.language-css):before {
  content: "CSS";
}