@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/varelaround-regular-webfont.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Varela Round", Arial, sans-serif;
}

dt {
  font-weight: bold;
}

code {
  font-size: 0.875rlh;
  background: rgba(207, 47, 151, 0.1568627451);
  border-radius: 4px;
  padding: 0 0.125rlh;
}

pre {
  margin: 1rlh 0;
}

pre > code {
  display: block;
  font-size: inherit;
  background: none;
  padding: 0;
  overflow-x: auto;
}
pre > code::-webkit-scrollbar {
  height: 0.5rlh;
}
pre > code::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
pre > code::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
pre > code::-webkit-scrollbar-thumb:hover {
  background: #555;
}

pre {
  font-size: 0.875rlh;
  background: rgba(207, 47, 151, 0.1568627451);
  padding: 0.5rlh;
  border-radius: 4px;
}

pre:has(.language-html), pre:has(.language-js), pre:has(.language-css) {
  position: relative;
  display: block;
}
pre:has(.language-html):before, pre:has(.language-js):before, pre:has(.language-css):before {
  position: absolute;
  top: -0.5rlh;
  font-size: 0.625rlh;
  right: 0.25rlh;
  opacity: 0.5;
}

pre:has(.language-html):before {
  content: "HTML";
}

pre:has(.language-js):before {
  content: "JS";
}

pre:has(.language-css):before {
  content: "CSS";
}